.cell {
	position: relative;
    width: 50px;
    height: 50px; 
    padding: 5px;
    border: 1px solid #aaaaaa;
}
.ball{
	position: absolute;
    left: 5px;
    top: 7px; 
    z-index: -2;
} 
.header{
	position: fixed;
	margin: auto;
	text-align: center;
    width: 100%; 
    padding: 10px;
	left: 10px;
	top: 10px;
	height: 80px;
	color: blue;
}
.leftSidePanel{
	position: fixed; 
    width: 80px; 
    padding: 10px;
	left: 10px;  
	top: 80px;
} 
.mainField{
	position: relative; 
	margin: auto; 
	float: left;
	left: 80px;  
	top: 80px;
}
.level{
	width: 100%;
}
button{
	height: 62px;
}
.mainField .cell{ 
	float: left; 
}