.cell {
	position: relative;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}
.ball{
	position: absolute;
    left: 5px;
    top: 7px;
    z-index: -2;
}
.result{
	margin: 5px;
}
h1{
	margin: auto;
	text-align: center;
    padding: 10px;
	height: 80px;
	color: blue;
}
.leftSidePanel{
	position: fixed;
	margin: auto;
  padding: 10px;
	left: 10px;
    	top: 450px;
}
.mainField{
	position: relative;
	margin: auto;
	left: 200px;
}
.level{
	width: 100%;
	padding: 10px;
}
button{
	height: 62px;
	margin-left: 10px;
}
.mainField .cell{
	float: left;
}
